In [2]:
import pandas as pd
import plotly.express as px 
import plotly.io as pio

In [4]:
disaster_stock_data= pd.read_csv("/Users/jan/Techlabs_WS_Team3/01_data/02_pre/clean_major_earthquakes.csv")

In [6]:
disaster_stock_data.head()

,Unnamed: 0,date_orig,date,time,longitude,latitude,magnitude,depth,significance,tsunami,state,data_type
0,1438669,2008-01-04 07:29:18.300000+00:00,2008-01-04,07:29:18.300000+00:00,101.032,-2.782,6.0,35.0,557,0,Indonesia,earthquake
1,1438968,2008-01-05 11:01:06.110000+00:00,2008-01-05,11:01:06.110000+00:00,-130.746,51.254,6.6,15.0,671,0,Canada,earthquake
2,1438979,2008-01-05 11:44:48.170000+00:00,2008-01-05,11:44:48.170000+00:00,-130.542,51.163,6.4,10.0,630,0,Canada,earthquake
3,1439178,2008-01-06 05:14:20.180000+00:00,2008-01-06,05:14:20.180000+00:00,22.693,37.216,6.2,75.0,920,0,Greece,earthquake
4,1439977,2008-01-09 08:26:45.490000+00:00,2008-01-09,08:26:45.490000+00:00,85.166,32.288,6.4,10.0,630,0,western Xizang,earthquake

In [8]:
#define variabels that we want to use for the Info Points on the map 
latitude = disaster_stock_data["latitude"]
longitude = disaster_stock_data["longitude"]
magnitude = disaster_stock_data["magnitude"]
depth = disaster_stock_data["depth"]
place = disaster_stock_data ["state"]
date = disaster_stock_data ["date"]

In [9]:
# Open the map in the browser
pio.renderers.default = "browser"  
#Our Mapbox Access Token 
px.set_mapbox_access_token("pk.eyJ1IjoidGVjaGxhYnMzIiwiYSI6ImNtNzBib2xyczAwZHoycnBiM2hxZ24zcngifQ.AaSHNEfc-cnR4uDdEO4gsw")

In [ ]:

# Create Map with Markers for every disaster in our filtered Map for Japan & Region Japan 
fig = px.density_map(
    disaster_stock_data, 
    lat="latitude", 
    lon="longitude", 
    z="magnitude",  #colour intensity after magnitude
    hover_name="state",  #first name in the markers
    zoom=4, #level of zoom 
    radius= 10, # hight of the markers on the map 
    color_continuous_scale=px.colors.sequential.Plasma_r, # Turn Color Scheme upside down
    map_style="light"  # style of the map 
)

# Open map in the browser
fig.show()