I use a Python library call yfinance (Yahoo Finance) to retrieve stock data for 225 Companies in Japan Stock Market (N225) 

by installing yfinance in Terminal (pip install yfinane).

They are saved separately in 225 csv files.

Below are the codes to retrieve those files.

In [34]:
import yfinance as yf

# Define the ticker and date range
ticker = "4151.T"
start_date = "1990-01-01"
end_date = "2025-12-31"  # Up to date data

# Fetch historical data
data = yf.download(ticker, start=start_date, end=end_date)

# Keep only the required columns (Date, Open, Close, Volume)
data = data[["Open", "Close", "Volume"]]

# Add the Ticker column
data["Ticker"] = ticker

# Save the data to a CSV file
data.to_csv("4151.T_historical_data.csv")

# Display the first few rows
print(data.head())
print('---')
print(data)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4151.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Empty DataFrame
Columns: [(Open, 4151.T), (Close, 4151.T), (Volume, 4151.T), (Ticker, )]
Index: []
---
Empty DataFrame
Columns: [(Open, 4151.T), (Close, 4151.T), (Volume, 4151.T), (Ticker, )]
Index: []

In [35]:
import yfinance as yf
import pandas as pd
import time

# List of tickers
tickers = [
    "4502.T", "4503.T", "4506.T", "4507.T", "4519.T", "4523.T", "4568.T", "4578.T", "6479.T", "6501.T", "6503.T", "6504.T", "6506.T", "6526.T", "6594.T", "6645.T", "6674.T", "6701.T", 
    "6702.T", "6723.T", "6724.T", "6752.T", "6753.T", "6758.T", "6762.T", "6770.T", "6841.T", "6857.T", "6861.T", "6902.T", "6920.T", "6952.T", "6954.T", "6971.T", "6976.T", "6981.T",
    "7735.T", "7751.T", "7752.T", "8035.T", "7201.T", "7202.T", "7203.T", "7205.T", "7211.T", "7261.T", "7267.T", "7269.T", "7270.T", "7272.T", "4543.T", "4902.T", "6146.T", "7731.T", 
    "7733.T", "7741.T", "7762.T", "9432.T", "9433.T", "9434.T", "9613.T", "9984.T", "5831.T", "7186.T", "8304.T", "8306.T", "8308.T", "8309.T", "8316.T", "8331.T", "8354.T", "8411.T", 
    "8253.T", "8591.T", "8697.T", "8601.T", "8604.T", "8630.T", "8725.T", "8750.T", "8766.T", "8795.T", "1332.T", "2002.T", "2269.T", "2282.T", "2501.T", "2502.T", "2503.T", "2801.T",
    "2802.T", "2871.T", "2914.T", "3086.T", "3092.T", "3099.T", "3382.T", "7453.T","8233.T","8252.T","8267.T","9843.T","9983.T","2413.T","2432.T","3659.T","4307.T","4324.T","4385.T",
    "4661.T","4689.T","4704.T","4751.T","4755.T","6098.T","6178.T","7974.T","9602.T","9735.T","9766.T","1605.T","3401.T","3402.T",
    "3861.T","3405.T","3407.T","4004.T","4005.T","4021.T","4042.T","4043.T","4061.T","4063.T",
    "4183.T","4188.T","4208.T","4452.T","4901.T","4911.T","6988.T","5019.T","5020.T","5101.T",
    "5108.T","5201.T","5214.T","5233.T","5301.T","5332.T","5333.T","5401.T","5406.T","5411.T",
    "3436.T","5706.T","5711.T","5713.T","5714.T","5801.T","5802.T","5803.T","2768.T","8001.T",
    "8002.T","8015.T","8031.T","8053.T","8058.T","1721.T","1801.T","1802.T","1803.T","1808.T",
    "1812.T","1925.T","1928.T","1963.T","5631.T","6103.T","6113.T","6273.T","6301.T","6302.T",
    "6305.T","6326.T","6361.T","6367.T","6471.T","6472.T","6473.T","7004.T","7011.T","7013.T",
    "7012.T","7832.T","7911.T","7912.T","7951.T","3289.T","8801.T","8802.T","8804.T","8830.T",
    "9001.T","9005.T","9007.T","9008.T","9009.T","9020.T","9021.T","9022.T","9064.T","9147.T",
    "9101.T","9104.T","9107.T","9201.T","9202.T","9301.T","9501.T","9502.T","9503.T","9531.T","9532.T"   # Add all 224 tickers here
]

# Define the date range
start_date = "1990-01-01"
end_date = "2025-12-31"  # Up to date data

# Loop through each ticker
for ticker in tickers:
    try:
        # Fetch historical data for the ticker
        data = yf.download(ticker, start=start_date, end=end_date)

        # Keep only the required columns (Open, Close, Volume)
        data = data[["Open", "Close", "Volume"]]

        # Add the Ticker column
        data["Ticker"] = ticker

        # Save the data to a CSV file
        filename = f"{ticker}_historical_data.csv"
        data.to_csv(filename)

        print(f"Saved data for {ticker} to {filename}")
    except Exception as e:
        print(f"Failed to fetch data for {ticker}: {e}")

    # Add a delay to avoid hitting rate limits
    time.sleep(1)  # 1-second delay between requests

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4502.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4502.T to 4502.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4503.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4503.T to 4503.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4506.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4506.T to 4506.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4507.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4507.T to 4507.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4519.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4519.T to 4519.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4523.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4523.T to 4523.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4568.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4568.T to 4568.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['4578.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 4578.T to 4578.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6479.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6479.T to 6479.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6501.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6501.T to 6501.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6503.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6503.T to 6503.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6504.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6504.T to 6504.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6506.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6506.T to 6506.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6526.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6526.T to 6526.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6594.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6594.T to 6594.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6645.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6645.T to 6645.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6674.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6674.T to 6674.T_historical_data.csv

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['6701.T']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Saved data for 6701.T to 6701.T_historical_data.csv

KeyboardInterrupt:

In [ ]:
import yfinance as yf

# Define the ticker and date range
ticker = "8316.T"
start_date = "1990-01-01"
end_date = "2025-12-31"  # Up to date data

# Fetch historical data
data = yf.download(ticker, start=start_date, end=end_date)

# Keep only the required columns (Date, Open, Close, Volume)
data = data[["Open", "Close", "Volume"]]

# Add the Ticker column
data["Ticker"] = ticker

# Save the data to a CSV file
data.to_csv("4151.T_historical_data.csv")

# Display the first few rows
print(data.head())
print('---')
print(data)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['8316.T']: YFPricesMissingError('possibly delisted; no price data found  (1d 1990-01-01 -> 2025-12-31)')

Empty DataFrame
Columns: [(Open, 8316.T), (Close, 8316.T), (Volume, 8316.T), (Ticker, )]
Index: []
---
Empty DataFrame
Columns: [(Open, 8316.T), (Close, 8316.T), (Volume, 8316.T), (Ticker, )]
Index: []

In [ ]:
import os
import glob
import pandas as pd

# Step 1: Define the folder containing the CSV files
folder_path = "D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data"  #the path to the folder

# Step 2: Find all CSV files in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Step 3: Check if any CSV files were found
if not csv_files:
    print("No CSV files found in the folder.")
else:
    print(f"Found {len(csv_files)} CSV files.")

    # Step 4: Read all CSV files into a list of DataFrames
    df_list = []
    for file in csv_files:
        try:
            df = pd.read_csv(file)
            # Add a column for the ticker (optional)
            ticker = os.path.basename(file).replace(".csv", "")  # Extract ticker from filename
            df["Ticker"] = ticker
            df_list.append(df)
            print(f"Successfully read {file}")
        except Exception as e:
            print(f"Error reading {file}: {e}")

    # Step 5: Check if df_list is empty
    if not df_list:
        print("No DataFrames were created. Check the CSV files.")
    else:
        # Step 6: Combine all DataFrames into one
        combined_data = pd.concat(df_list, ignore_index=True)
        print("Combined DataFrame:")
        print(combined_data.head())

        # Step 7: Save the combined DataFrame to a new CSV file
        output_file = os.path.join(folder_path, "combined_225_stock_data.csv")
        combined_data.to_csv(output_file, index=False)
        print(f"Combined data saved to {output_file}")

Found 225 CSV files.
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1332.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1605.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1721.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1801.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1802.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1803.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1808.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1812.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1925.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1928.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\1963.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2002.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2269.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2282.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2413.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2432.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2501.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2502.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2503.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2768.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2801.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2802.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2871.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\2914.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3086.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3092.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3099.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3289.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3382.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3401.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3402.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3405.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3407.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3436.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3659.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\3861.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4004.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4005.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4021.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4042.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4043.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4061.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4063.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4151.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4183.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4188.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4208.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4307.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4324.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4385.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4452.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4502.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4503.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4506.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4507.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4519.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4523.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4543.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4568.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4578.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4661.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4689.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4704.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4751.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4755.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4901.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4902.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\4911.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5019.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5020.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5101.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5108.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5201.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5214.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5233.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5301.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5332.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5333.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5401.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5406.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5411.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5631.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5706.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5711.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5713.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5714.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5801.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5802.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5803.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\5831.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6098.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6103.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6113.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6146.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6178.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6273.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6301.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6302.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6305.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6326.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6361.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6367.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6471.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6472.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6473.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6479.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6501.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6503.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6504.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6506.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6526.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6594.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6645.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6674.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6701.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6702.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6723.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6724.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6752.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6753.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6758.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6762.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6770.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6841.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6857.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6861.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6902.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6920.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6952.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6954.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6971.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6976.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6981.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\6988.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7004.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7011.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7012.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7013.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7186.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7201.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7202.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7203.T_historical_data.csv
Successfully read D:/ONLINE Course/TECHLABS/Project/Datasets/Data/N225_companies_stock-data/Only-225_stock-data\7205.T_historical_data.csv

In [ ]:
df = pd.read_csv('combined_225_stock_data.csv')
print(df.head())

        Price                Open              Close  Volume  \
0      Ticker              1332.T             1332.T  1332.T
1        Date                 NaN                NaN     NaN
2  2000-01-04   96.17342799484351  95.56473541259766  296000
3  2000-01-05   99.82558348831859  95.56473541259766  637000
4  2000-01-06  101.65168214575645  99.21691131591797  411000

                   Ticker
0  1332.T_historical_data
1  1332.T_historical_data
2  1332.T_historical_data
3  1332.T_historical_data
4  1332.T_historical_data

C:\Users\dongv\AppData\Local\Temp\ipykernel_18156\1248358547.py:1: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('combined_225_stock_data.csv')

In [ ]:
# drop the second and third rows 
df = df.drop([0, 1])
print(df.head())

        Price                Open              Close  Volume  \
2  2000-01-04   96.17342799484351  95.56473541259766  296000
3  2000-01-05   99.82558348831859  95.56473541259766  637000
4  2000-01-06  101.65168214575645  99.21691131591797  411000
5  2000-01-07   98.60819357245632  102.8690414428711  645000
6  2000-01-10   102.8690414428711  102.8690414428711       0

                   Ticker
2  1332.T_historical_data
3  1332.T_historical_data
4  1332.T_historical_data
5  1332.T_historical_data
6  1332.T_historical_data

In [ ]:
# Rename the first column
df.rename(columns={'Price':'Date'}, inplace=True)
df

,Date,Open,Close,Volume,Ticker
2,2000-01-04,96.17342799484351,95.56473541259766,296000,1332.T_historical_data
3,2000-01-05,99.82558348831859,95.56473541259766,637000,1332.T_historical_data
4,2000-01-06,101.65168214575645,99.21691131591797,411000,1332.T_historical_data
5,2000-01-07,98.60819357245632,102.8690414428711,645000,1332.T_historical_data
6,2000-01-10,102.8690414428711,102.8690414428711,0,1332.T_historical_data
...,...,...,...,...,...
1312955,2025-02-12,9494.0,9856.0,9937100,9984.T_historical_data
1312956,2025-02-13,9600.0,9504.0,13388800,9984.T_historical_data
1312957,2025-02-14,9630.0,9637.0,10686400,9984.T_historical_data
1312958,2025-02-17,9600.0,9806.0,6719100,9984.T_historical_data
1312959,2025-02-18,9784.0,9839.0,6913500,9984.T_historical_data

In [ ]:
# Split Ticker column into "Ticker" and "other"
df[['Ticker', 'Other1', 'Other2']] = df['Ticker'].str.split('_', expand=True)
print(df.head())

         Date                Open              Close  Volume  Ticker  \
2  2000-01-04   96.17342799484351  95.56473541259766  296000  1332.T
3  2000-01-05   99.82558348831859  95.56473541259766  637000  1332.T
4  2000-01-06  101.65168214575645  99.21691131591797  411000  1332.T
5  2000-01-07   98.60819357245632  102.8690414428711  645000  1332.T
6  2000-01-10   102.8690414428711  102.8690414428711       0  1332.T

       Other1 Other2
2  historical   data
3  historical   data
4  historical   data
5  historical   data
6  historical   data

In [ ]:
# Drop column Other1 and Other2
df.drop(columns=['Other1', 'Other2'], inplace=True)
df

               Date                Open              Close    Volume  Ticker
2        2000-01-04   96.17342799484351  95.56473541259766    296000  1332.T
3        2000-01-05   99.82558348831859  95.56473541259766    637000  1332.T
4        2000-01-06  101.65168214575645  99.21691131591797    411000  1332.T
5        2000-01-07   98.60819357245632  102.8690414428711    645000  1332.T
6        2000-01-10   102.8690414428711  102.8690414428711         0  1332.T
...             ...                 ...                ...       ...     ...
1312955  2025-02-12              9494.0             9856.0   9937100  9984.T
1312956  2025-02-13              9600.0             9504.0  13388800  9984.T
1312957  2025-02-14              9630.0             9637.0  10686400  9984.T
1312958  2025-02-17              9600.0             9806.0   6719100  9984.T
1312959  2025-02-18              9784.0             9839.0   6913500  9984.T

[1312958 rows x 5 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# Save result to new csv file
#df.to_csv("225_stocks_data.csv", index=False)