In [19]:
import pandas as pd

df = pd.read_csv('Eartquakes-1990-2023.csv')
print(df.head())

           time                                 place    status  tsunami  \
0  631153353990     12 km NNW of Meadow Lakes, Alaska  reviewed        0
1  631153491210            14 km S of Volcano, Hawaii  reviewed        0
2  631154083450            7 km W of Cobb, California  reviewed        0
3  631155512130  11 km E of Mammoth Lakes, California  reviewed        0
4  631155824490                16km N of Fillmore, CA  reviewed        0

   significance   data_type  magnitudo        state   longitude   latitude  \
0            96  earthquake       2.50       Alaska -149.669200  61.730200
1            31  earthquake       1.41       Hawaii -155.212333  19.317667
2            19  earthquake       1.11   California -122.806167  38.821000
3            15  earthquake       0.98   California -118.846333  37.664333
4           134  earthquake       2.95   California -118.934000  34.546000

    depth                              date
0  30.100  1990-01-01 00:22:33.990000+00:00
1   6.585  1990-01-01 00:24:51.210000+00:00
2   3.220  1990-01-01 00:34:43.450000+00:00
3  -0.584  1990-01-01 00:58:32.130000+00:00
4  16.122  1990-01-01 01:03:44.490000+00:00

In [20]:
# distinct status, tsunami, data_type, 
distinct_status = df['status'].unique()
print(distinct_status)
print('---')

distinct_tsunami = df['tsunami'].unique()
print(distinct_tsunami)
print('---')

distinct_data_type = df['data_type'].unique()
print(distinct_data_type)

['reviewed' 'automatic' 'AUTOMATIC' 'REVIEWED' 'MANUAL' 'manual']
---
[0 1]
---
['earthquake' 'quarry blast' 'explosion' 'other event' 'nuclear explosion'
 'rock burst' 'ice quake' 'chemical explosion' 'sonic boom'
 'mine collapse' 'rockslide' 'Rock Slide' 'accidental explosion'
 'landslide' 'quarry' 'mining explosion' 'acoustic noise' 'not reported'
 'experimental explosion' 'collapse' 'meteorite'
 'induced or triggered event' 'volcanic eruption' 'Ice Quake'
 'snow avalanche']

In [21]:
# Remove columns
df.drop(columns=['time', 'place', 'status'], inplace=True)
print(df.head())

   tsunami  significance   data_type  magnitudo        state   longitude  \
0        0            96  earthquake       2.50       Alaska -149.669200
1        0            31  earthquake       1.41       Hawaii -155.212333
2        0            19  earthquake       1.11   California -122.806167
3        0            15  earthquake       0.98   California -118.846333
4        0           134  earthquake       2.95   California -118.934000

    latitude   depth                              date
0  61.730200  30.100  1990-01-01 00:22:33.990000+00:00
1  19.317667   6.585  1990-01-01 00:24:51.210000+00:00
2  38.821000   3.220  1990-01-01 00:34:43.450000+00:00
3  37.664333  -0.584  1990-01-01 00:58:32.130000+00:00
4  34.546000  16.122  1990-01-01 01:03:44.490000+00:00

In [22]:
# Split date column into "date" and "time"
df[['date', 'time']] = df['date'].str.split(' ', expand=True)
print(df.head())

   tsunami  significance   data_type  magnitudo        state   longitude  \
0        0            96  earthquake       2.50       Alaska -149.669200
1        0            31  earthquake       1.41       Hawaii -155.212333
2        0            19  earthquake       1.11   California -122.806167
3        0            15  earthquake       0.98   California -118.846333
4        0           134  earthquake       2.95   California -118.934000

    latitude   depth        date                   time
0  61.730200  30.100  1990-01-01  00:22:33.990000+00:00
1  19.317667   6.585  1990-01-01  00:24:51.210000+00:00
2  38.821000   3.220  1990-01-01  00:34:43.450000+00:00
3  37.664333  -0.584  1990-01-01  00:58:32.130000+00:00
4  34.546000  16.122  1990-01-01  01:03:44.490000+00:00

In [23]:
# Drop column time
df.drop(columns=['time'], inplace=True)
print(df.head())

   tsunami  significance   data_type  magnitudo        state   longitude  \
0        0            96  earthquake       2.50       Alaska -149.669200
1        0            31  earthquake       1.41       Hawaii -155.212333
2        0            19  earthquake       1.11   California -122.806167
3        0            15  earthquake       0.98   California -118.846333
4        0           134  earthquake       2.95   California -118.934000

    latitude   depth        date
0  61.730200  30.100  1990-01-01
1  19.317667   6.585  1990-01-01
2  38.821000   3.220  1990-01-01
3  37.664333  -0.584  1990-01-01
4  34.546000  16.122  1990-01-01

In [24]:
# Only Earthquake data
df_earthquake = df[df['data_type'] == 'earthquake']
print(df_earthquake)

         tsunami  significance   data_type  magnitudo        state  \
0              0            96  earthquake       2.50       Alaska
1              0            31  earthquake       1.41       Hawaii
2              0            19  earthquake       1.11   California
3              0            15  earthquake       0.98   California
4              0           134  earthquake       2.95   California
...          ...           ...         ...        ...          ...
3445746        0           326  earthquake       4.60        Japan
3445747        0            44  earthquake       1.70       Alaska
3445748        0            90  earthquake       2.42         B.C.
3445749        0            16  earthquake       1.03   California
3445750        0            12  earthquake       0.90       Alaska

          longitude   latitude    depth        date
0       -149.669200  61.730200   30.100  1990-01-01
1       -155.212333  19.317667    6.585  1990-01-01
2       -122.806167  38.821000    3.220  1990-01-01
3       -118.846333  37.664333   -0.584  1990-01-01
4       -118.934000  34.546000   16.122  1990-01-01
...             ...        ...      ...         ...
3445746  139.940200  36.350700   83.039  2023-07-29
3445747 -153.729900  57.790100   24.400  2023-07-29
3445748 -115.296833  32.233167    1.770  2023-07-29
3445749 -122.800499  38.827499    1.720  2023-07-29
3445750 -155.051000  57.564800  250.000  2023-07-29

[3361846 rows x 9 columns]

In [25]:
# Take the Earthquake data from 2008 onward because the Global Market Data has data from 2008 to 2023
df_earthquake = df_earthquake[df_earthquake['date'] >= '2008-01-01']
print(df_earthquake)

         tsunami  significance   data_type  magnitudo                 state  \
1437789        0            15  earthquake       1.00                Alaska
1437790        0           211  earthquake       3.70   U.S. Virgin Islands
1437791        0           259  earthquake       4.10                Turkey
1437792        0            15  earthquake       1.00                Alaska
1437793        0           234  earthquake       3.90           Philippines
...          ...           ...         ...        ...                   ...
3445746        0           326  earthquake       4.60                 Japan
3445747        0            44  earthquake       1.70                Alaska
3445748        0            90  earthquake       2.42                  B.C.
3445749        0            16  earthquake       1.03            California
3445750        0            12  earthquake       0.90                Alaska

          longitude   latitude    depth        date
1437789 -151.155900  63.515700    7.000  2008-01-01
1437790  -64.344000  19.099000   58.900  2008-01-01
1437791   35.743000  37.569000    5.000  2008-01-01
1437792 -151.987100  63.265400    2.500  2008-01-01
1437793  124.048000   6.484000  571.000  2008-01-01
...             ...        ...      ...         ...
3445746  139.940200  36.350700   83.039  2023-07-29
3445747 -153.729900  57.790100   24.400  2023-07-29
3445748 -115.296833  32.233167    1.770  2023-07-29
3445749 -122.800499  38.827499    1.720  2023-07-29
3445750 -155.051000  57.564800  250.000  2023-07-29

[1960692 rows x 9 columns]

In [26]:
tsunami_rows = df_earthquake[df_earthquake['tsunami'] != 0]
print(tsunami_rows)

         tsunami  significance   data_type  magnitudo                 state  \
1983658        1           993  earthquake        8.0       Solomon Islands
1984525        1           691  earthquake        6.7       Solomon Islands
1984795        1           711  earthquake        6.8       Solomon Islands
1984881        1           780  earthquake        7.1       Solomon Islands
1985228        1           904  earthquake        6.9              Colombia
...          ...           ...         ...        ...                   ...
3438758        1           235  earthquake        3.9                Alaska
3439082        1           920  earthquake        6.6   Antigua and Barbuda
3441336        1           896  earthquake        7.2                Alaska
3442091        1           370  earthquake        4.9                Alaska
3444988        1           632  earthquake        6.4               Vanuatu

         longitude  latitude    depth        date
1983658   165.1140  -10.7990   24.000  2013-02-06
1984525   165.6550  -10.9970   11.000  2013-02-07
1984795   165.9690  -10.8380   12.000  2013-02-08
1984881   166.0180  -10.9280   21.000  2013-02-08
1985228   -77.3930    1.1350  145.000  2013-02-09
...            ...       ...      ...         ...
3438758  -153.0393   60.0313  127.600  2023-07-09
3439082   -61.0820   20.0391   14.000  2023-07-10
3441336  -160.7604   54.4596   32.571  2023-07-16
3442091  -163.5466   53.9006   48.498  2023-07-17
3444988   167.9249  -14.7565   10.000  2023-07-26

[1527 rows x 9 columns]

In [27]:
# correct misspelling 'magnitudo' to 'magnitude'
df_earthquake.rename(columns={'magnitudo': 'magnitude'}, inplace=True)
print(df_earthquake)

         tsunami  significance   data_type  magnitude                 state  \
1437789        0            15  earthquake       1.00                Alaska
1437790        0           211  earthquake       3.70   U.S. Virgin Islands
1437791        0           259  earthquake       4.10                Turkey
1437792        0            15  earthquake       1.00                Alaska
1437793        0           234  earthquake       3.90           Philippines
...          ...           ...         ...        ...                   ...
3445746        0           326  earthquake       4.60                 Japan
3445747        0            44  earthquake       1.70                Alaska
3445748        0            90  earthquake       2.42                  B.C.
3445749        0            16  earthquake       1.03            California
3445750        0            12  earthquake       0.90                Alaska

          longitude   latitude    depth        date
1437789 -151.155900  63.515700    7.000  2008-01-01
1437790  -64.344000  19.099000   58.900  2008-01-01
1437791   35.743000  37.569000    5.000  2008-01-01
1437792 -151.987100  63.265400    2.500  2008-01-01
1437793  124.048000   6.484000  571.000  2008-01-01
...             ...        ...      ...         ...
3445746  139.940200  36.350700   83.039  2023-07-29
3445747 -153.729900  57.790100   24.400  2023-07-29
3445748 -115.296833  32.233167    1.770  2023-07-29
3445749 -122.800499  38.827499    1.720  2023-07-29
3445750 -155.051000  57.564800  250.000  2023-07-29

[1960692 rows x 9 columns]

In [28]:
# Check for missing values
print(df_earthquake.isnull().sum())

tsunami         0
significance    0
data_type       0
magnitude       0
state           0
longitude       0
latitude        0
depth           0
date            0
dtype: int64

In [29]:
# check datatype
print(df_earthquake['magnitude'])
print(df_earthquake['depth'])
print(df_earthquake['date'])

1437789    1.00
1437790    3.70
1437791    4.10
1437792    1.00
1437793    3.90
           ...
3445746    4.60
3445747    1.70
3445748    2.42
3445749    1.03
3445750    0.90
Name: magnitude, Length: 1960692, dtype: float64
1437789      7.000
1437790     58.900
1437791      5.000
1437792      2.500
1437793    571.000
            ...
3445746     83.039
3445747     24.400
3445748      1.770
3445749      1.720
3445750    250.000
Name: depth, Length: 1960692, dtype: float64
1437789    2008-01-01
1437790    2008-01-01
1437791    2008-01-01
1437792    2008-01-01
1437793    2008-01-01
              ...
3445746    2023-07-29
3445747    2023-07-29
3445748    2023-07-29
3445749    2023-07-29
3445750    2023-07-29
Name: date, Length: 1960692, dtype: object

In [30]:
# Distribution of Earthquake Magnitudes
# visualize the distribution of magnitudes to see how they are spread
#import matplotlib.pyplot as plt
#df_earthquake['magnitude'].hist(bins=50)
#plt.title('Distribution of Earthquake Magnitudes')
#plt.xlabel('Magnitude')
#plt.ylabel('Frequency')
#plt.show()

In [31]:
# Explore Earthquake Locations
# Investigate the locations (state, place) where earthquakes occur most frequently. 
# Create a bar plot of the number of earthquakes by state or country.
#state_counts = df['state'].value_counts().head(10)
#state_counts.plot(kind='bar')
#plt.title('Top 10 Earthquake States')
#plt.xlabel('State')
#plt.ylabel('Number of Earthquakes')
#plt.show()

In [32]:
# Convert 'date' column to datetime format
#df_earthquake['date'] = pd.to_datetime(df_earthquake['date'], errors='coerce')

In [33]:
# Time Series Analysis (Trends over time)
# Since earthquakes are recorded over time, analyze if the frequency of earthquakes is increasing or decreasing.
#df_earthquake['year'] = df_earthquake['date'].dt.year
#earthquakes_per_year = df_earthquake.groupby('year').size()
#earthquakes_per_year.plot(kind='line')
#plt.title('Number of Earthquakes per Year')
#plt.xlabel('Year')
#plt.ylabel('Number of Earthquakes')
#plt.show()

In [34]:
# Correlation Analysis
# Look for relationships between variables such as magnitude, depth, and significance.
correlation_matrix = df_earthquake[['magnitude', 'depth', 'significance']].corr()
print(correlation_matrix)

              magnitude     depth  significance
magnitude      1.000000  0.360022      0.933982
depth          0.360022  1.000000      0.347790
significance   0.933982  0.347790      1.000000

In [35]:
# Filter earthquakes data with 'magnitude' > 6.0
df_major_earthquakes = df_earthquake[df_earthquake['magnitude'] > 6.0]
print(df_major_earthquakes)

         tsunami  significance   data_type  magnitude              state  \
1437999        0           613  earthquake        6.3   Papua New Guinea
1438968        0           671  earthquake        6.6             Canada
1438979        0           630  earthquake        6.4             Canada
1439178        0           920  earthquake        6.2             Greece
1439977        0           630  earthquake        6.4     western Xizang
...          ...           ...         ...        ...                ...
3440597        0           637  earthquake        6.3             Mexico
3441336        1           896  earthquake        7.2             Alaska
3441774        0           900  earthquake        6.6          Argentina
3442480        0           784  earthquake        6.5        El Salvador
3444988        1           632  earthquake        6.4            Vanuatu

         longitude  latitude    depth        date
1437999   146.8840   -5.8780   34.000  2008-01-01
1438968  -130.7460   51.2540   15.000  2008-01-05
1438979  -130.5420   51.1630   10.000  2008-01-05
1439178    22.6930   37.2160   75.000  2008-01-06
1439977    85.1660   32.2880   10.000  2008-01-09
...            ...       ...      ...         ...
3440597   -93.8771   15.0337   35.000  2023-07-14
3441336  -160.7604   54.4596   32.571  2023-07-16
3441774   -70.4688  -38.1951  186.000  2023-07-17
3442480   -88.1265   12.8140   69.727  2023-07-19
3444988   167.9249  -14.7565   10.000  2023-07-26

[1728 rows x 9 columns]